<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
	<title>Log in</title>
</head>
<body>
<div th:if="${param.error}">
	Invalid username and password.
</div>
<div th:if="${param.logout}">
	You have been logged out.
</div>
<div id="message">
    <h4>
        Input your username and password for admin interface (when you did it you can navigate with anchors)
    </h4>
</div>
<form th:action="@{/index}" method="post">
	<div><label> User Name : <input type="text" name="username"/> </label></div>
	<div><label> Password: <input type="password" name="password"/> </label></div>
	<div><input type="submit" value="Sign In"/></div>
</form>
<div id="door-container">
	<a href="/bookPage"><h4>Enter as user</h4></a>
    <a href="/adminPanel"><h4>Enter as admin</h4></a>
</div>
</div>
</body>
</html>