<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book details</title>
    <link href="/css/core.css" rel="stylesheet" />
    <link href="/css/searchTable.css" rel="stylesheet" />
</head>
<body>
    <a href="/bookPage"><h3>Home</h3></a>
	<div id="book-details-container">
	    <h2>Book details</h2>
	    <table id="myTable">
	        <thead>
	        <tr class="header">
	            <th>ID</th>
	            <th>Title</th>
	            <th>Author</th>
	            <th>Genre</th>
	            <th>Price</th>
	            <th>Description</th>
	        </tr>
	        </thead>
	        <tbody>
	        	<tr>
	                <th data-th-text="${aBook.id}">...</th>
	                <th data-th-text="${aBook.title}">...</th>
	                <th data-th-text="${aBook.author}">..</th>
	                <th data-th-text="${aBook.genre}">...</th>
	                <th data-th-text="${aBook.price}">...</th>
	                <th data-th-text="${aBook.description}">...</th>
	        	</tr>
	        </tbody>
	    </table>
	</div>

	<div id="book-buy-container" th:onmousemove="'javascript:setValues(' + ${aBook.id} + ',' + ${aBook.price} +');'">
        <h2>Buy a book</h2>
        <form action="#" th:action="@{/bookPage/bookBuy}" th:object="${userDetails}" method="post">
            <p>First Name: <input type="text" th:field="*{FName}" required/></p>
            <p>Last Name: <input type="text" th:field="*{LName}" required/></p>
            <p>Adress: <input type="text" th:field="*{address}" required/></p>
            <p>Amount: <input type="number" th:field="*{amount}" required/></p>
			<p hidden>BookId: <input id="bID" type="number" th:field="*{bookId}" required/></p>
			<p hidden>Price: <input id="bPR" type="number" th:field="*{bookPrice}" required /></p>
            <p>
				<input type="submit" value="Submit" th:onclick="'javascript:purchaseMessage('
				+ ${aBook.title}+ ',' + ${aBook.price}+ ',' + ${userDetails.FName}+ ',' +
				${userDetails.LName}+ ',' + ${userDetails.address}+ ',' + ${userDetails.amount} +
				');'"/>
				<input type="reset" value="Reset" />
			</p>
        </form>
    </div>
	
	<script>
		function setValues(value1, value2) {
            document.getElementById("bID").setAttribute("value", value1);
            document.getElementById("bPR").setAttribute("value", value2);
        }
	</script>
</body>
</html>